<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>Sign up with your Google Account</h4>
  </div>
  <div class="panel-body">
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-lg btn-success" %>
  </div>
</div>
