<% content_for :head do %>
  <title>About Shopify Bookshelf</title>
  <%= stylesheet_link_tag 'about', media: 'all' %>
<% end %>

<div class="row">
  <div class="col-lg-12 custom-well">
    <h2>About <span class="shopify-green-text">Shopify Bookshelf</span></h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 custom-well">
    <h2>Who we are</h2>
    <p class="about__paragraph">
      Shopify Bookshelf is a platform exclusively for Shopifolks to find and recommend books.
      Our mission is to help you choose the right book. We also want to save you the time and effort of browsing through
      all bookshelves spread across all 13?14? floors of Shopify.
      Shopify Bookshelf was launched in September 2016.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 custom-well">
    <h2>A few things you can do on Shopify Bookshelf</h2>
    <p class="about__paragraph">
      <ul>
        <li class="about__thingstodo">
          See which books your friends at Shopify are reading.
        </li>
        <li class="about__thingstodo">
          Track the books you're reading, have read, and want to read.
        </li>
        <li class="about__thingstodo">
          Share a quote or write a recommendation for your favorite book.
        </li>
      </ul>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 custom-well">
    <h2>A Message From the creator of Shopify Bookshelf</h2>
    <p class="about__paragraph about__message">
      <strong>TLDR;</strong> First week at Shopify. So many books to choose from. Books books everywhere. Want to pick the best book to read. Don't want to waste
        time reading the "wrong" book. How do I decide what to read? Why not create a Rails app. coz that's how we roll at Shopify.
      <br /><br />
      <i>Long version coming soon...</i>
      <br /><br />
    </p>
    <span class="about__foundermark"><a href="https://ca.linkedin.com/in/usaxena" target="_blank">Utkarsh Saxena</a> - Front End Developer Intern @ Shopify Admin Team - Ottawa</span>
  </div>
</div>
