<% content_for :head do %>
  <title>ShopifyBookshelf</title>
  <%= stylesheet_link_tag    'homepage', media: 'all' %>
<% end %>


<h1>Welcome to Shopify's Bookshelf</h1>

<% content_for :scripts do %>
  <%= javascript_include_tag 'homepage' %>
<% end %>
