<h4>Hello <%= @userEmail %>!</h4>
<p>
  Your fellow Shopifolk, <%= @current_user.name %>, has invited you to join
  <a href="http://shopify-bookbar.shopify.io/" target="_blank">Shopify Bookbar</a>.
</p>
<p>
  On <a href="http://shopify-bookbar.shopify.io/" target="_blank">Shopify Bookbar</a> you can see what other Shopifolks are reading,
  share recommendations on the books you have read and decide on what to read next from over 50 titles available across the Ottawa office.
</p>
<p>
  Welcome to the book culture at Shopify!
</p>
<p>
  - Utkarsh Saxena (Front End Developer Intern @ Shopify)
</p>
