<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @userEmail %>!</h1>
    <br />
    <p>
      Your fellow Shopifolk, <%= @current_user.name %>, has invited you to
      <a href="http://shopify-bookshelf.herokuapp.com/" target="_blank">Shopify Bookshelf</a>.
    </p>
    <br />
    <p>
      On <a href="http://shopify-bookshelf.herokuapp.com/" target="_blank">Shopify Bookshelf</a> you can see what other Shopifolks are reading,
      share recommendations on the books you have read and decide on what to read next from over 50 titles available across the Ottawa office.
    </p>
    <br />
    <p>
      Welcome to the book culture at Shopify!
    </p>
    <br />
    <p>
      - Utkarsh Saxena, Creator of Shopify Bookshelf
      (Front End Developer Intern @ Shopify)
    </p>
  </body>
</html>
