<div class="row gbData__container">
  <div class="col-lg-12">
    <div class="gbData">
      <img class="gbData__thumbnailImage" width="200" />
      <a  bind-href="googleLink" target="_blank"><h4 bind="title"></h4></a>
      <p class="new-book-description"></p>
      <span bind="categories"></span>
      <p bind="authors"></p>
    </div>
  </div>
</div>
