<table class="table table-striped">
  <thead>
    <tr>
      <th class="table__subheading">ISBN</th>
      <th class="table__subheading">Title</th>
    </tr>
  </thead>
  <tbody>
    <% obj.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= link_to book.title, books_path(:title => book.title) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
