<h5 class="table__heading">Your Wishlist:</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="table__subheading">ISBN</th>
      <th class="table__subheading">Title</th>
      <% if @user.id == current_user.id %>
        <th class="table__subheading">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% obj.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= link_to book.title, books_path(:title => book.title) %></td>
        <% if @user.id == current_user.id %>
          <td>
            <%= link_to 'Remove', remove_from_wish_list_path(book), :method => :delete,
             :data => { :confirm => "Are you sure?"},
             :class => "btn btn-xs btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
