<% content_for :head do %>
  <%= stylesheet_link_tag "newBook", :media => "all" %>
<% end %>

<%- model_class = Book -%>

<div class="row">
  <div class="col-lg-12 custom-well">
    <h1 class="newBook__heading">Add a book to <span class="shopify-green-text">Shopify Bookshelf</span></h1>
    <h4>Fill in the form below to add a book.</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 custom-well">
    <h5 class="text-box-heading">You can search the book using either an ISBN or Title:</h5>
    <%= render :partial => 'form' %>
  </div>
</div>

<%= render :partial => 'bookResults' %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'addNewBook' %>
<% end %>
