<% content_for :head do %>
  <%= stylesheet_link_tag "newBook", :media => "all" %>
<% end %>

<%- model_class = Book -%>

<div class="row">
  <div class="col-lg-12 custom-well">
    <h5 class="text-box-heading">Search by ISBN or Title</h5>
    <h5 class="text-box-subheading">Cannot find the book you want to add? Don't worry. Fill out <a href="https://goo.gl/forms/ccPKH0lp98zCmG103" target="_blank">this form</a> and I will take care of the rest :D</h5>
    <%= render :partial => 'form' %>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'addNewBook' %>
<% end %>
