<div class="jumbotron text-center">
  <div class="jumbotron-text">
    <h1>Welcome to <span class="green-text">Shopify Bookshelf</span></h1>
    <p>Share recommendations, See what other Shopifolks are reading, Decide on what to read next. Choose from over <strong class="book-count"><%= Book.count %></strong> titles available across Shopify.</p>
    <p><%= link_to "Browse Books", books_path, class: "btn btn-lg btn-success" %></p>
    <%= link_to "Learn More", about_path, class: "btn btn-warning btn-lg" %>
  </div>
</div>
