// Declare all fonts here

@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon/Brandon_txt_reg.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon/Brandon_txt_med.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon/Brandon_txt_bld.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Buffalo';
  src: font-url('BuffaloScript-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
