// About page specific styles

.custom-well {
  padding-top: 10px;
}

.about__paragraph, .about__thingstodo {
  font-size: 1.2em;
}

.about__foundermark {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.about__message {
  margin-bottom: 15px;
}
