// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
// Show scroll bar
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
}
// end

#filter-books-form {
  font-family: 'Brandon';
  padding: 15px 19px;
  h4 {
    margin-top: 0;
  }
}


.book-info-span-one {
  color: black;
  display: block;
  margin-bottom: 20px;
}

.book-container {
  font-family: 'Brandon';
}

.books_addabookbtn {
  margin-bottom: 10px;
}

.btn-apply-filter {
  color: white;
  background-color: $homepage-green;
}

.btn-remove-filter {
  background-color: $homepage-lightgrey;
  color: white;
}

.pagination {
  margin: 10px 0;
  border-radius: 0;
}

.book__title {
  margin-bottom: -10px;
  margin-top: 0;
  font-weight: bold;
  display: inline-block;
  color: black;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.radio label {
  padding-left: 0;
}

.book__description {
  margin-top: 15px;
  font-size: 0.9em;
  line-height: 1.3em;
}

.book__addedbyheading {
  font-size: 1em;
}

.book__addedby {
  text-transform: capitalize;
}

.book-info-h5 {
  font-style: italic;
  margin: 15px 0;
}

.no-top-margin {
  margin-top: 0;
}

.book-info-span {
  font-weight: 700;
}

.btn-recommendation {
  float: right;
  background-color: $homepage-green;
  color: white;

  @media screen and (max-width: 520px) {
    float: none;
    margin-bottom: 10px;
  }
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.recommended-label {
  margin-left: 15px;
  vertical-align: text-top;
}

.recommendation__user {
  text-transform: capitalize;
  font-weight: 700;
}

.recommendation__text {
  font-style: italic;
  font-size: 1em;
}

.category-radiobtn {
  margin: 2px 10px;
}

.radio {
  height: 120px;
  overflow-y: scroll;
  width: 260px;
  border: 1px solid #c3c3c3;
}

.category-radiobtn {
  display: block;
}

.categories-heading {
  font-weight: bold;
}

.show-book-container {
  h5 {
    font-weight: bold;
    span {
      font-weight: 400;
    }
  }

}

.add-book-to-list-btn {
  background-color: $homepage-green;
  color: white;
}
