// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.books_addabookbtn {
  margin-bottom: 10px;
}

.pagination {
  margin: 15px 0;
  border-radius: 0;
}

.book__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: bold;
}

.book__description {
  margin-top: 15px;
  font-size: 0.9em;
  line-height: 1.3em;
}

.book__addedbyheading {
  font-size: 1em;
}

.book__addedby {
  text-transform: capitalize;
}


.book-info-h5 {
  font-style: italic;
  margin: 15px 0;
}

.no-top-margin {
  margin-top: 0;
}

.book-info-span {
  font-weight: 700;
}

.btn-recommendation {
  float: right;
}
