// Individual story page specific styles.

.story__body {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.story__likes {
  font-size: 0.85em;
}

.story__likes_btn {
  margin-left: 5px;
}

.story__likes_count {
  background-color: #c3c3c3;
  font-size: inherit;
  padding: 4px 6px 4px 6px;
}
